* {
   /*  font-family:'IM Fell Double Pica', serif;*/
   font-family: 'Anaheim', sans-serif;
   /*font-family:"Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif; */
   /*  font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif; */
   letter-spacing:0px;
}

html {
    height:100%;
    background:#D6D6D6;
}

img {
    margin:auto;
    width:inherit;
}
p {
    margin-top:.5em;
    margin-bottom:.5em;
}

kbd {
    white-space: nowrap;
    color: #000;
    background: #eee;
    border-style: solid;
    border-color: #ccc #aaa #888 #bbb;
    padding: 2px 6px;
    border-width: 1px 3px 3px 1px;
}

:focus {
outline: 0;
}

span.note {
    font-size:.8em;
    word-spacing:.1em;
}

h1, h2, h3 {
    font-size: 1.2em;
    font-weight:300;
    font-color:black;
    margin: 0;
    margin-top: .5em;
    margin-bottom: .5em;
    color: inherit; 
}

blockquote p {
   /*border-left: .2em solid #8F8AE6;
     padding-left: 0.7em;
     margin-left: 0em; */
    font-weight:300;
    color:#222;
    font-size:90%;
    line-height:1.3em;
}

.color {
    color:#6F6AC6;
}

#header a {
    float:left;
}

.clickable {
    cursor:pointer;
}

#time {
    font-weight:300;
    font-size:80%;
    padding-left:1em;
    color:#666;
}

h2.close.clickable~*:not(h2) {
    opacity:0.0;
    display:none;
}


a, h2 span {
    font-weight:300;
    color:#8F8AE6;
}

    border-bottom:0px;
    border-top-width:1px;
    border-right:0px;
    border-left:0px;
    margin:0em;
}

p {
    color:#555;
    font-weight:300;
    word-spacing:.1em;
}

path {
    fill:"#8e8cc5";
}

#sidebar {
    height:100%;
    position:fixed;
    opacity:1.0;
    transition: opacity .5s;
    -moz-transition-property: opacity .5s;
    -webkit-transition-property: opacity .5s;
    -o-transition-property: opacity .5s;
}

.index > ul {
    list-style-type: none;
    margin-top:.5em;
    padding:0em;
}

.index * {
    text-decoration:none;
}

/*ol {
    font-weight:300;
    margin-left:2em;
    padding:0em;
}*/

sup a {
    font-size:80%;
}

sup {
    padding-left:.3em;
    padding-right:.3em;
}

li:hover a, a:hover {
    color:black;
}

#nav a, #rand {
    text-decoration:none;
    color:#775DC3;
}

#nav a:hover, #rand:hover {
    text-decoration:none;
    color:#483875;
}


li {
    color:#444;
    line-height:1.5em;
}

#profile {
    width: 7.5em;
    border: .25em solid #333;
    box-shadow: inset -1em 0em 1em #333;
    border-radius: 50%;
    margin-bottom:.5em;
    margin-right: .5em;
    float:none;
}

a {
    bottom:.5em;
    color:#444;
    font-weight:300;
    z-index:4;
}

#collapse {
    top:8.5em;
    padding-left: 1.5em;
}

code {
    display: block;
    font-family: courier;
    font-size:.8em;
}

pre {
    padding: .5em;
    margin: 1.7em 0em 1.7em 0em;
    border:1px dashed;
    width:inherit; /*necessary for vvv */
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}


pre[title]:after {
    content:attr(title);
    display:block;
    background-color:#D6D6D6;  
    padding: .4em; 
    font-style:italic;
    font-size:.75em;
    font-weight:300;
}

#back {
    position:absolute;
    top:.3em;
    left:3.5em;
    height:0em;
}

body {
    margin:0px;
    padding:0px;
    font-size:110%;
}

#container {
    width:30em;
    height:100%;
    margin: 0 auto;
    padding-top:2em;
    padding-bottom:2em;
}

#container * {
    width:auto;
}

.post {
    font-weight:300;
    opacity:1.0;
    animation: fadein 3s; -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#quote {
    font-size: 2em;
    font-weight:300;
    margin-left: 4.5em;   
    padding-left: 5%;
    padding-right: 5%;
}

.outer {
    position:relative;
}

#rand {
    cursor: pointer; 
}
