<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/simple.css">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="/css/no_sidebar.css" />
    <link rel="stylesheet" media="screen and (max-device-width: 1000px) and (min-device-width: 320px)" href="/css/mobile.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel=”shortcut icon” href=”/favicon.ico”>
    <meta charset="utf-8"> 
    <title>cdosborn</title>
</head>
<body>
<div id="main">
