<div id="sidebar">
    <a href="/index.html" ><img id="profile" src="/images/profile.png"></a>
    <div id="collapse">
        <ul>
        <li><a href="/index.html" class="list">posts</a></li>
        <li><a href="/projects/index.html" class="list">projects</a></li>
        <li><a href="/about/index.html" class="list">about</a></li>
        <li><span></span></li>
        <!--<li><a href="/books/index.html" class="list">books</a></li>
        <li><a href="/books/index.html" class="list">friends</a></li>-->
        </ul>
    </div>
<!--    <a href="https://bitbucket.org/cdosborn" class="list"><span class="entypo-bucket"></span></a>
        <a href="http://www.last.fm/user/cdosborn" class="list"><span class="entypo-lastfm"></span></a>
        <a href="mailto:iamnotajudas@gmail.com?subject=Howdy!" class="list"><span class="entypo-paper-plane"></span></a> --> 
</div>
